/*  Josh's Custom CSS Reset  https://www.joshwcomeau.com/css/custom-css-reset/*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family:
    system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
#root,
#__next {
  isolation: isolate;
}

#form {
  margin: 1rem;
  border: solid 1px grey;
  border-radius: 8px;
  padding: 1rem;
}

input {
  margin-top: 10px;
  border: solid 1px grey;
  border-radius: 4px;
  padding: 4px;
}

input:valid {
  border: solid 1px blue;
}

input:invalid {
  border: solid 1px red;
}

#submit {
  margin-top: 1rem;
  border: none;
  border-radius: 4px;
  padding: 4px 8px;
  background-color: orange;
}
